@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap");

:root {
  --bs-font-sans-serif: "Poppins";
  --bs-font-monospace: "Poppins";
  --bs-body-font-family:"Poppins"!important;
}

.body-part{
min-height: 100vh;
}

.footer-style{
  border-radius: 0px;
  border-style: none;
}